.home-slider {
  .slide-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20.0rem;
    background-color: #f3f4f6;
    border-radius: 0.8rem;
    color: #9ca3af;
    font-size: 1.25rem;
  }
}
