@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.header {
  padding-top: 6.8rem; // 상단 여백
  margin-bottom: 4.2rem; // 히어로 상단간 여백
  
  @include respond-to(mobile) {
    margin-bottom: 2.4rem;
    padding-top: 4.0rem;
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      display: block;
      width: auto;
    }
  }

  .auth-buttons {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    .auth-btn {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;

      .icon {
        width: 1.4rem;
        height: auto;
        display: block;
      }

      span {
        font-size: $font-size-body-md;
        font-weight: 500;
        color: #8D8E8F;
      }

      &.logout {
        .icon {
          width: 1.4rem; 
        }
      }
    }
  }
}
