// src/components/overlay/TagChipList.scss
@use '../../styles/abstracts/variables' as *;

.tag-chip-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;

  .tag-chip {
    padding: 0.8rem 1.6rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10.0rem;
    font-size: $font-size-body-md;
    color: white;
  }
}
